body{
	margin: 0;
	padding: 0;
}


.hero{
	position: relative;
	background: url('sample.jpeg') no-repeat center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}